<?xml version="1.0"?>
<!--
/**
 * @category  Bakeway
 * @package   Bakeway_PartnerWebapi
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../vendor/magento/framework/ObjectManager/etc/config.xsd">
    <preference for="Bakeway\PartnerWebapi\Api\SearchPartnerInterface" type="Bakeway\PartnerWebapi\Model\SearchPartnerRepository" />
    <preference for="Bakeway\PartnerWebapi\Api\GlobalSearchInterface" type="Bakeway\PartnerWebapi\Model\GlobalSearchRepository" />
</config>