<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="url" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Url changes Alert Setting</label>
            <tab>bakewaysettings</tab>
            <resource>Bakeway_Partnerlocations::urlEmail_configuration</resource>
            <group id="alert" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Url Update Alert Email Notification</label>

                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="url_changes_email_alert_template" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Url Update Alert Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="receiver_email" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver Email</label>
                    <comment>(,) sepereated email id</comment>
                </field>
            </group>
           </section>
    </system>
</config>