<?xml version="1.0"?>
<!--
/**
 * @copyright  Copyright 2017 SplashLab
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Framework\Webapi\Rest\Request" type="\SplashLab\CorsRequests\Model\RestRequest"/>-->
</config>