<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Bakeway_ImportReviews::top" title="Import Reviews Ratings">
                    <resource id="Bakeway_ImportReviews::manage_importratings" title="Import Reviews Ratings"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
