<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_Marketplace::brands" title="Manage Brands" module="Webkul_Marketplace" sortOrder="1" parent="Webkul_Marketplace::menu" action="brands/index" resource="Webkul_Marketplace::brands"/>
    </menu>
</config>