<?xml version="1.0"?>
<!--
/**
 * Bakeway
 *
 * @category  Bakeway
 * @package   Bakeway_Paytm
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="op_order_create_after">
        <observer name="bakeway_sales_order_place_after_paytm_payment" instance="Bakeway\Paytm\Observer\SalesOrderPlaceAfter" />
    </event>
</config>