<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="buzzer" translate="label" type="text" sortOrder="1500" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Order Alarm</label>
            <tab>bakewaysettings</tab>
            <resource>Bakeway_OrderstatusEmail::orderstatusEmail_configuration</resource>

            <group id="seller_bell" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"  showInStore="1">
                <field id="status" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Alarm Elable or Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="timing" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Buzzer Timing</label>
                    <comment>(1 s = 1000 ml)</comment>
                </field>
            </group>
        </section>

    </system>
</config>